.idea/
.idea/upgradegnt.iml
###> symfony/framework-bundle ###
.env
.env.local
.env.local.php
.env.*.local
src/Controller/NotificationController.php
*.log
/config/secrets/prod/prod.de/fr/Promotions/Activer/crypt.private.php
/public/bundles/
/public/uploads/
/public/Documents/
/var/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

