:root {
    --primaire: #039c4f;
    --primaire-rgb: 3, 156, 79;
    --primaire-soft: #5ffdad;
    --primaire-soft-rgb: 95, 253, 173;
    --secondaire: #c5fbae;
    --secondaire-rgb: 197, 251, 174;
    --secondaire-soft: #efffe9;
    --secondaire-soft-rgb: 239, 255, 233;
    --blanc: #ffffff; /*  rgb(255, 255, 255)  */
    --gris: #959595; /*  rgb(255, 255, 255)  */
    --gris-clair: #e5e4e4; /*  rgb(255, 255, 255)  */
    --gris-fonce: #2b2b2b; /*  rgb(255, 255, 255)  */
    --twitter: #1d9bf0; /*  rgb(29, 155, 240)  */
    --facebook: #385898; /*  rgb(56, 88, 152)  */
    --linkedin: #004182; /*  rgb(0, 65, 130)  */
    --instagram: #e83e8c; /*  rgb(232, 62, 140)  */
    --youtube: #ff0000; /*  rgb(232, 62, 140)  */
    --duree: 2000ms;
    --vert: #039c4f;
    --vert-clair: #c5fbae;
    --gris-hover: #444;
    --vert-hover: #036f38;
}

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

body:after {
    content: "";
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(246, 236, 236, 0.7)), url(../images/background.avif);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}

.fond {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.form-signin {
    width: 100%;
    max-width: 90%;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.input-group:has(.input-group-text) {
    border-radius: 10px;
    border: 1px solid #039c4f;
}

.input-group:has(.input-group-text) .form-control {
    border-radius: 10px;
    border: 1px solid transparent;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
    border: 1px solid transparent !important;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
    border: 1px solid transparent !important;
}

.input-group-text {
    border-radius: 10px;
}

.form-control {
    padding: 0.3rem;
}

.form-control:focus,
select:focus {
    border: 1px solid #039c4f;
    box-shadow: 0 0 10px rgba(3, 156, 79, 0.9);
}

.btn {
    border-radius: 10px;
}

a {
    color: #039c4f;
}

a:hover {
    color: #039c4f;
    text-decoration: none;
    text-shadow: 0 0 1px #036f38;
}

#install_button {
    background: transparent;
    border: none;
}

.bg-secondaire {
    background-color: var(--secondaire);
}

.text-primaire {
    color: var(--primaire);
}

.fwb {
    font-weight: bold;
}

footer {
    position: fixed;
    background-color: var(--vert) !important;
    bottom: 0;
    width: 100%;
    /* z-index: 100000; */
}

.copyright {
    border-top: 2px solid var(--secondaire) !important;
}

.footer .copyright a {
    color: var(--light);
}

.footer-shape::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    top: 0;
    left: -40px;
    background: var(--secondaire);
    transform: skew(40deg);
}

.btn-green {
    color: #fff;
    background-color: #039c4f;
    border-color: #039c4f;
}

.btn-green:hover {
    color: #fff;
    background-color: #027e40;
    border-color: #1e7e34;
}

.btn-green:focus,
.btn-green.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-green.disabled,
.btn-green:disabled {
    color: #fff;
    background-color: #039c4f;
    border-color: #039c4f;
}

.btn-green:not(:disabled):not(.disabled):active,
.btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
    color: #fff;
    background-color: #027e40;
    border-color: #1c7430;
}

.btn-green:not(:disabled):not(.disabled):active:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.shadow-black {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.shadow-5 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.form-control:not(:-ms-input-placeholder) + label {
    left: 10px !important;
    top: -10px;
    background: linear-gradient(180deg, #f0eff3, #fff);
    padding: 5px 10px;
    height: auto !important;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    left: 10px !important;
    top: -5px;
    background: linear-gradient(180deg, #faf9f9 60%, transparent 50%);
    padding: 0 10px;
    height: auto !important;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: calc(1.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(1.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
    padding: 1.2rem .75rem;
}

.form-floating > .form-control-plaintext:-webkit-autofill,
.form-floating > .form-control:-webkit-autofill {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.form-floating>label {
    padding: 0.5rem .75rem;
}

.mt-n7 {
    margin-top: -72px !important;
}

@media screen and (max-width: 768px) {

    body {
        font-size: 12px;
        margin-left: 0;
    }

    body:after {
        background-image: url(../images/background-small.avif);
    }

    .form-signin {
        max-width: 100%;
    }
}
