<form method="post" action="{{ path('commande_panier_modification_valider', {'commande' : commande.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir valider?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="ms-3 btn btn-success float-end" id="load">
                    <i class="fa fa-money-bill"></i> {{ "Confirmer"|trans }}</button>
</form>
