<form method="post" action="{{ path('reclamation_cloturer', {'reclamation': reclamation.id}) }}" onsubmit="return confirm('{{'Êtes-vous sûr de vouloir cloturer?'|trans}}');" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('cloturer' ~ reclamation.id) }}">
    <button class="btn btn-success-light me-3" id="creer" onclick="load('creer')"><i class="fa fa-lock"></i> {{ 'Cloturer'|trans }}</button>
</form>
